body {
  color: #40514E;
  font-family: "Merriweather", serif;
  margin-left: 20%;
  margin-right: 20%;
}

.top-img {
  width: 13%;
  float: left;
  margin-right: 20px;
  padding-top: 50px;
}

.top-text {
  width: 100%;
  padding-top: 30px;
  text-align: left;
}

.link-container {
  margin: 0;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  flex: 1;
  text-align: center;
}

.bottom {
  background-color: #66BFBF;
  padding: 20px 0 20px;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

h1 {
  font-size: 5rem;
  color: #66BFBF;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 1.1rem;
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

hr {
  background-color: purple;
  border-style: none;
  height: 4px;
  margin: 60px 0;
}

li {
  font-size: 1rem;
  line-height: 1.8;
}

td {
  font-size: 1rem;
  line-height: 1.8;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-decoration: none
}

a:hover {
  color: #EAF6F6;
}
